global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alertmanager-rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'web'
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'web:8080'
    dns_sd_configs:
      - names:
          - 'web'
        type: 'A'
        port: 8080

  - job_name: 'traefik'
    static_configs:
      - targets: ['traefik:8080']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis-exporter:9121']
